<% provide(:title, 'Personal Access Token') %>
<h1>Personal Access Tokens</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>

    <% if current_user.personal_access_tokens.any? %>
      <h3>Tokens (<%= current_user.personal_access_tokens.count %>)</h3>
      <ol class="list-group list-group-numbered">
        <%= render @personal_access_tokens if @personal_access_tokens %>
      </ol>
      <%= will_paginate @personal_access_tokens if @personal_access_tokens %>
    <% end %>
  </div>
</div>
